@font-face {
    font-family:"Lexend Deca";
    src: url("https://fonts.google.com/specimen/Lexend+Deca");
}

@font-face {
    font-family:"Inter";
    src: url("https://fonts.google.com/specimen/Inter");
}
htm{
    font-size: 0.9375rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(233, 47%, 7%);

}
.parent{
    width: 60%;
    margin: auto;
    display: flex;
}
.leftContent,.image{
    width: 50%;
}
.leftContent{
    background:  hsl(244, 38%, 16%);
    font-size: 15px;
    border: 2px solid blue;
    padding: 5em;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.heading{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.heading h1{
 font-size: 2rem;
 font-family: "Inter";
 font-weight: 700;
 color:  hsl(0, 0%, 100%);
}
.heading h1 span{
    color: hsl(277, 64%, 61%);
}
.heading p{
    font-family: "Lexend Deca";
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}
.assets{
    display: flex;
    justify-content: space-between;
}
.assets .companies {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.image img{
    width: 100%;
    height: 100%;
}
