@font-face {
    font-family:"Lexend Deca";
    src: url("https://fonts.google.com/specimen/Lexend+Deca");
}

@font-face {
    font-family:"Inter";
    src: url("https://fonts.google.com/specimen/Inter");
}
